*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
 
   min-height: 100vh;
    background:
        radial-gradient(circle at top right, rgba(0,86,198,.25), transparent 35%),
        radial-gradient(circle at bottom left, rgba(80,150,255,.12), transparent 40%),
        linear-gradient(135deg, #071338, #0a194e, #102761);

    
}
header{
    background-color: #0056c6;
    padding: 1.875rem;
    
   
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#titulo1 {
    color: white;
    font-size: clamp(2rem,5vw, 3.125rem);
}

.containners{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6rem;
   margin-top: 5rem;
   padding: 0 1rem;
   flex-wrap: wrap;
}
.contanner1,
.contanner2,
.contanner3{
    background-color: #E2E8F0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5625rem;
    gap: 0.625rem;
    border-radius: 1.5625rem;
    transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1), box-shadow 0.3s ease;
}
.contanner1,
.contanner2,
.contanner3 p{
    color: #0A194E;
}
.contanner1:hover,
.contanner2:hover,
.contanner3:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(151, 166, 207, 0.342);
}
#denuncias,
#apoio,
#saiba{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

#denuncias h2,
#saiba h2,
#apoio h2{
    color: #0A194E;
    font-size: clamp(1.5rem, 3vw, 2.1875rem);
}
svg{
    width: 1.875rem;
    height: 1.875rem;
}

button{
    padding: 0.3125rem 2.5rem;
    border-radius: 1.5625rem;
    background-color: #0A194E;
    color: white;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    transform:translateY(-3px);
    
}

a{
    padding: 0.3125rem 2.5rem;
    border-radius: 1.5625rem;
    background-color: #0A194E;
    color: white;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
a:hover{
    transform:translateY(-3px);
}


/* ==========================
   TABLETS
========================== */

@media (max-width: 992px){

    .containners{
        gap: 2rem;
    }

    .contanner1,
    .contanner2,
    .contanner3{
        width: 45%;
    }

    .botao button{
        padding: 1rem 3.5rem;
    }
}

/* ==========================
   CELULARES
========================== */

@media (max-width: 768px){

    header{
        padding: 1.25rem;
    }

    .containners{
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .contanner1,
    .contanner2,
    .contanner3{
        width: 100%;
        max-width: 22rem;
    }

    .botao{
        margin-top: 3rem;
    }

    .botao button{
        width: 100%;
        max-width: 22rem;
        padding: 1rem;
    }
}